<nav aria-label="breadcrumb" class="mt-5" *ngIf="!isFront">
  <ol class="breadcrumb">
    <li *ngFor="let breadcrumb of breadcrumbs; let last = last"
        class="breadcrumb-item {{ last == true ? 'active': '' }}">

      <ng-container *ngIf="breadcrumb.params; then haveParams; else haventParams">
      </ng-container>

      <ng-template #haveParams>
        <a [routerLink]="breadcrumb.url" [queryParams]="breadcrumb.params" *ngIf="!last">
          {{ breadcrumb.label }}
        </a>

      </ng-template>

      <ng-template #haventParams>
        <a [routerLink]="breadcrumb.url" *ngIf="!last">
          {{ breadcrumb.label }}
        </a>
      </ng-template>

      {{ last == true ? breadcrumb.label : '' }}

    </li>
  </ol>
</nav>
